/*----------------------------------*\
 #IMAGES
\*----------------------------------*/
/* フルードイメージ */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* マージンを持たないブロックとする。 */
figure {
    margin: 0;
}