/*----------------------------------*\
 #QUOTES
\*----------------------------------*/
// `<blockquote>`タグのデフォルトスタイルを指定します。
/**
 * マークアップ例
 * <blockquote cite="#">
 *     <p><small></small></p>
 *     <footer>
 *         <cite><a href="#"></a></cite>
 *     </footer>
 * </blockquote>
 */
blockquote {
    @include vr(1, 1);
    @include font-size($small-font-sizes);
    margin-left: $indent-base;
    margin-right: 0;
    padding-left: $indent-base;
    border-left: 1px solid #888;
    color: #888;
    @include media-query(lg) {
        margin-left: $indent-large;
        padding-left: $indent-large;
    }
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

blockquote {
    cite {
        &:before {
            /* `<blockquote>`内の`<cite>`の先頭にemダッシュが付く */
            content: '\2014 \00A0';
        }
    }
}