/*----------------------------------*\
 #HEADINGS
\*----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-font-color;
}

h1, .u-h1 {
    @include font-size($h1-font-sizes);
}
h2, .u-h2 {
    @include font-size($h2-font-sizes);
}
h3, .u-h3 {
    @include font-size($h3-font-sizes);
}
h4, .u-h4 {
    @include font-size($h4-font-sizes);
}
h5, .u-h5 {
    @include font-size($h5-font-sizes);
}
h6, .u-h6 {
    @include font-size($h6-font-sizes);
}