/*----------------------------------*\
 #PAGE
\*----------------------------------*/

html {
    @include font-size;
}

body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    background-color: $base-background-color;
    /* アンチエイリアスを指定する */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    /* メトリクスカーニングを指定する */
    font-kerning: normal;
}

table {
    width: 100%;
}

hr {
    margin-right: auto;
    margin-left: auto;
}

i,
cite,
em,
var,
address,
dfn {
    /* デフォルトスタイルのitalicをリセットする */
    font-style: normal;
}

/* プレイスホルダーのcolorを無効化してopacityでコントラストを抑える */
:-ms-input-placeholder {
    opacity: .54;
    color: inherit;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

:placeholder-shown {
  opacity: .54;
}