/*----------------------------------*\
 #LISTS
\*----------------------------------*/

ul, ol, dd {
    padding-left: $indent-base;
    @include media-query(lg) {
        padding-left: $indent-large;
    }
}

/* ネストされたリストのマージンをリセットする */
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}