/*----------------------------------*\
 #STACK
\*----------------------------------*/
$stack-ns: null !default;
$stack-padding: 1rem 0.5rem;
$stack-right: 0.5rem;

/**
 * 縦に積み重なる（stack up）シンプルなナビゲーションです。
 * `$stack-padding`でリンク内の余白を調整できます。
 * `$stack-right`は`$stack-padding`の左右の余白と合わせるのがベターです。
 * `.o-stack--arrow`を指定すると`>`がリンクの右側に付与されます。
 *
 * <ul class="o-stack [o-stack--arrow]">
 *     <li class="o-stack__item">
 *         <a href="#" class="o-stack__link">
 *            [content]
 *         </a>
 *     </li>
 *     <li class="o-stack__item">
 *         <a href="#" class="o-stack__link">
 *            [content]
 *         </a>
 *     </li>
 * </ul>
 */
.#{$stack-ns}o-stack {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$stack-ns}o-stack__link {
    display: block;
    padding: $stack-padding;
}

.#{$stack-ns}o-stack--arrow {
    > .#{$stack-ns}o-stack__item {
        position: relative;
    }
    .#{$stack-ns}o-stack__link {
        &:after {
            content: "\003E";
            position: absolute;
            right: $stack-right;
        }
    }
}