/*----------------------------------*\
 #GRIDS
\*----------------------------------*/
$grid-ns: null !default;
$grid-gutter: 24px !default;

/**
 * グリッドレイアウトをするためのオブジェクトです。
 * `width`はデフォルトで100%が指定されています。
 * ガターは左側にだけ指定されています。
 * `width`の変更は`_objects.width.scss`のクラスを使用します。
 *
 * <div class="o-wrapper">
 *   <div class="o-grid o-grid--has-gutter">
 *     <div class="o-grid__item u-8/12@md"></div>
 *     <div class="o-grid__item u-4/12@md"></div>
 *   </div>
 * </div>
 */
.#{$grid-ns}o-grid {
    display: block;
    margin: 0;
    padding: 0;
    /* カラム間の余白を除去する */
    font-size: 0 !important;
}

.#{$grid-ns}o-grid__item {
    display: inline-block;
    width: 100%;
    /* フォントサイズを戻す */
    font-size: 1rem;
    vertical-align: top;
}

.#{$grid-ns}o-grid--has-gutter {
    margin-left: - $grid-gutter;
    > .#{$grid-ns}o-grid__item {
        padding-left: $grid-gutter;
    }
}

.#{$grid-ns}o-grid--middle {
    > .#{$grid-ns}o-grid__item {
        vertical-align: middle;
    }
}

.#{$grid-ns}o-grid--bottom {
    > .#{$grid-ns}o-grid__item {
        vertical-align: bottom;
    }
}

/**
 * カラムをセンタリングします。
 * 1カラムレイアウトに使用します。
 *
 * <div class="o-grid o-grid--center">
 *   <div class="o-grid__item u-8/12@md"></div>
 * </div>
 */
.#{$grid-ns}o-grid--center {
    text-align: center;
    > .#{$grid-ns}o-grid__item {
        text-align: left;
    }
}

.#{$grid-ns}o-grid--right {
    text-align: right;
    > .#{$grid-ns}o-grid__item {
        text-align: left;
    }
}

/**
 * 左を起点とするレイアウトを反転させます。
 * 左サイドバーの2カラムレイアウトに使用します。
 * http://www.htmq.com/style/direction.shtml
 *
 * <div class="o-grid o-grid--gutter o-grid--reverse">
 *   <div class="o-grid__item u-8/12@md"></div>
 *   <div class="o-grid__item u-4/12@md"></div>
 * </div>
 */
.#{$grid-ns}o-grid--reverse {
    /* 文字表記を右から左に変更します。 */
    direction: rtl;
    > .#{$grid-ns}o-grid__item {
        /* IE以外ではテキストが右寄せのままになってしまう */
        text-align: left;
        /* derectionプロパティを元に戻します。*/
        direction: ltr;
    }
}