/*----------------------------------*\
 #EMBED
\*----------------------------------*/
$embed-ns: null !default;

/**
 *YouTubeなどのエンベディットコンテンツを埋め込むオブジェクトです。
 * `.o-embed--16:9`などと指定してアスペクト比を固定できます。
 *
 * <div class="o-embed o-embed--16:9">
 *     <iframe></iframe>
 * </div>
 */
.#{$embed-ns}o-embed {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    padding: 0;
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
    }
}

.#{$embed-ns}o-embed--16\:9 {
    padding-bottom: percentage(9 / 16);
}

.#{$embed-ns}o-embed--4\:3 {
    padding-bottom: percentage(3 / 4);
}