///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/

// @prop {String} keys - keyは呼び出す時のキーワードになります。
// @prop {String} values - 呼び出されるメディアタイプやキーワードです。
// @see {Mixin} media-query - @include media-query() で使用されています。
$breakpoints: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1000px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;


// `$font-sizes`で使用する、小数点を3桁までに制限する関数です。
// @prop {Number} $lh - `line-height`に指定する値をpxで指定します。
// @prop {Number} $fz - `font-size`に指定する値をpxで指定します。
// @return {Number} - 第一と第二引数で除算をして、decimal関数で小数点以下を3桁までに制限します。
// @see {Map} $font-sizes
@function vr($fz, $lh) {

    // 小数点以下を3桁までに制限します。100に変更すると2桁に制限できます。
    $n: 1000;
    $vr: ceil(($lh / $fz) * $n) / $n;

    @return ($fz, $lh, $vr);
}

// Vertical Rhythmに使用するフォントサイズと行の高さを定義します。
// keyには"base"と$breakpointsで定義したkeyを定義します。
// valueにはフォントサイズと行の高さをpxで定義します。
// $base-font-sizesの第二引数の値の倍数を各mapに定義します。
// @prop {String} keys - keyは呼び出す時のキーワードになります。
// @prop {String} values - 呼び出される`font-size`と`line-height`になります。
// @see {Map} $breakpoints - ブレイクポイントを管理するmapです。
$base-font-sizes: (
    "base": vr(14px, 24px),
    "lg": vr(16px, 28px),
) !default;

$h1-font-sizes: (
    "base": vr(26px, 24px * 2),
    "lg": vr(30px, 28px * 2),
) !default;

$h2-font-sizes: (
    "base": vr(22px, 24px),
    "lg": vr(26px, 28px),
) !default;

$h3-font-sizes: (
    "base": vr(20px, 24px),
    "lg": vr(24px, 28px),
) !default;

$h4-font-sizes: (
    "base": vr(16px, 24px),
    "lg": vr(20px, 28px),
) !default;

$h5-font-sizes: (
    "base": vr(14px, 24px),
    "lg": vr(16px, 28px),
) !default;

$h6-font-sizes: (
    "base": vr(12px, 24px),
    "lg": vr(14px, 28px),
) !default;

$small-font-sizes: (
    "base": vr(12px, 24px),
    "lg": vr(14px, 28px),
) !default;


// ベースになる色を管理します。
$base-font-color: #333 !default;
$heading-font-color: null !default;
$base-background-color: #fff !default;
$base-link-color: #2b70ba !default;
$visited-link-color: null !default;
$hover-link-color: lighten($base-link-color, 15%) !default;


// `a`のtext-decorationを管理します。
$base-link-decoration: none !default;
$hover-link-decoration: underline !default;


// `font-family`を管理します。
$base-font-family: "Droid Sans", "Lucida Grande", "Helvetica Neue", "Helvetica", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !default;
$heading-font-family: null !default;
$monospace-font-family: Courier, "Courier New", monospace !default;
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


// `font-weight`を管理します。
$base-font-weight: 400 !default;
$heading-font-weight: 600 !default;


// `ul`, `dl`, `blockquote`などのインデントに使用します。
$indent-base: 1rem !default;
$indent-large: 2rem !default;


// ボタンコンポーネントなどの角丸に使用します。
$base-round: 3px;