/**
 * FUNCTION
 * Z-indexes............z-indexを管理するための変数と関数です。
 *
 * VARIABLE
 * Config...............特定の機能を切り替えるための設定ファイルです。
 * Global...............プロジェクト全体を通して使用される変数です。
 * Font-size............フォントサイズ用の変数を管理します。
 *
 * MIXIN
 * Media-query..........メディアクエリ用のmixinです。
 * Vertical-rhythm......Vertical Rhythmを指定するためのmixinです。
 * Clearfix.............`float`を解除する`clearfix`のmixinです。
 *
 * VENDER
 * Normalize.css........Normalize cssのインポートします。
 *
 * VENDER-EXTENSION
 * Normalize.css........Normalize.cssのスタイルを上書きします。
 *
 * BASE
 * Base.................要素セレクタと属性セレクタのデフォルトスタイルです。
 * Debug................検証をするためのデバッグファイルです。
 *
 * LAYOUT
 * Header...............ヘッダーエリアのコンテナブロックのスタイルを指定します。
 * Footer...............フッターエリアのコンテナブロックのスタイルを指定します。
 * Main.................メインコンテンツエリアのコンテナブロックのスタイルを指定します。
 * Sidebar..............サイドバーエリアのコンテナブロックのスタイルを指定します。
 *
 * COMPONENT
 * Wrapper..............コンポーネントをラップするオブジェクトです。`max-width`が指定されています。
 * Grid.................グリッドレイアウトのベーススタイルです。
 * Rank.................横並びになるリストオブジェクトです。
 * Pac..................子要素を折り返さず、横幅内に収めるリストオブジェクトです。
 * Stac.................縦に積み上げていくタイプのリストオブジェクトです。
 * Media................画像とテキストを横並びにするために使用するオブジェクトです。
 * Frag.................垂直方向の指定ができるメディアオブジェクトです。
 * Scroll-table.........横スクロールに対応したテーブルオブジェクトです。
 * Central..............上下左右の中央配置オブジェクトです。
 * Embed................YouTubeなどの埋め込みコンテンツのアスペクト比を固定するオブジェクトです。
 * Generic-box..........マージンを持たないオブジェクトにマージンを与えます。
 * Images...............画像コンポーネントです。
 * Buttons..............ボタンコンポーネントのベーススタイルです。
 * Breadcrumbs..........パンくずリストです。セパレーターは`>`です。
 * Pagination...........前後のページに遷移するためのナビゲーションです。アイコンは`<`, `>`です。
 *
 * PROJECT
 *
 * UTILITY
 * Widths...............レスポンシブに対応した`width`を指定するためのヘルパークラスです。
 * Pushs................レスポンシブに対応した`left`を指定するためのヘルパークラスです。
 * Pulls................レスポンシブに対応した`right`を指定するためのヘルパークラスです。
 * Display..............要素の表示を切り替えるクラスです。
 */


/* ==========================================================================
   Foundation
   ========================================================================== */

// -----------------------------------------------------------------
// Function
// -----------------------------------------------------------------

@import "foundation/function/z-index";

// -----------------------------------------------------------------
// Variable
// -----------------------------------------------------------------

@import "foundation/variable/global";
@import "foundation/variable/font-size";

// -----------------------------------------------------------------
// Mixin
// -----------------------------------------------------------------

@import "foundation/mixin/media-query";
@import "foundation/mixin/vertical-rhythm";
@import "foundation/mixin/clearfix";

/* Vender
   ----------------------------------------------------------------- */

@import "foundation/vender/normalize";

/* Vender-extension
   ----------------------------------------------------------------- */

@import "foundation/vender-extension/normalize";

/* Base
   ----------------------------------------------------------------- */

@import "foundation/base/base";
@import "foundation/base/config";


/* ==========================================================================
   Layout
   ========================================================================== */

@import "layout/_footer";
@import "layout/_header";
@import "layout/_main";
@import "layout/_sidebar";


/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

@import "object/component/wrapper";
@import "object/component/grid";
@import "object/component/rank";
@import "object/component/pack";
@import "object/component/stack";
@import "object/component/media";
@import "object/component/frag";
@import "object/component/scroll-table";
@import "object/component/central";
@import "object/component/embed";
@import "object/component/generic-box";
@import "object/component/image";
@import "object/component/button";
@import "object/component/breadcrumbs";
@import "object/component/pagination";

/* Project
   ----------------------------------------------------------------- */


/* Utitlity
   ----------------------------------------------------------------- */

@import "object/utility/width";
@import "object/utility/push";
@import "object/utility/pull";
@import "object/utility/display";