/**
 * FUNCTION
 * Function.............
 *
 * VARIABLE
 * Global...............プロジェクト全体を通して使用される変数です。
 * Font-size............フォントサイズ用の変数（マップ）を管理します。
 * Color................カラー用の変数（マップ）を管理します。
 *
 * MIXIN
 * Media-query..........メディアクエリ用のmixinです。
 * Vertical-rhythm......Vertical Rhythmを指定するためのmixinです。
 * Clearfix.............`float`を解除する`clearfix`のmixinです。
 *
 * VENDOR
 * Normalize.css........Normalize cssのインポートします。
 *
 * VENDOR-EXTENSION
 * Normalize.css........Normalize.cssのスタイルを上書きします。
 *
 * BASE
 * Base.................要素セレクタと属性セレクタのデフォルトスタイルです。
 * Debug................
 *
 * LAYOUT
 * Header...............ヘッダーエリアのコンテナブロックのスタイルを指定します。
 * Footer...............フッターエリアのコンテナブロックのスタイルを指定します。
 * Main.................メインコンテンツエリアのコンテナブロックのスタイルを指定します。
 * Sidebar..............サイドバーエリアのコンテナブロックのスタイルを指定します。
 *
 * COMPONENT
 * Wrapper..............コンポーネントをラップするオブジェクトです。`max-width`が指定されています。
 * Grid.................グリッドレイアウトのベーススタイルです。
 * List-inline..........横並びになるリストオブジェクトです。
 * List-block...........縦並びになるリストオブジェクトです。
 * Rank.................横並びになるリストオブジェクトです。アンカータグのクリック範囲が大きく指定されています。
 * Pac..................子要素を折り返さず、横幅内に収めるリストオブジェクトです。
 * Stac.................縦に積み上げていくタイプのリストオブジェクトです。
 * Media................画像とテキストを横並びにするために使用するオブジェクトです。
 * Frag.................垂直方向の指定ができるメディアオブジェクトです。
 * Split................2つの要素をブロックから横並びにするオブジェクトです。
 * Justify..............子要素を両端揃えにするオブジェクトです。
 * Scroll-table.........横スクロールに対応したテーブルオブジェクトです。
 * Central..............上下左右の中央配置オブジェクトです。
 * Button..............ボタンコンポーネントのベーススタイルです。
 * Embed................YouTubeなどの埋め込みコンテンツのアスペクト比を固定するオブジェクトです。
 * Images...............画像コンポーネントです。

 *
 * PROJECT
 * Breadcrumbs..........パンくずリストです。セパレーターは`>`です。
 * Pagination...........前後のページに遷移するためのナビゲーションです。アイコンは`<`, `>`です。
 * Tag-cloud............タグクラウドのコンポーネントです。
 * Card.................カード型のコンポーネントです。
 * Balloon..............吹き出しのコンポーネントです。
 *
 * UTILITY
 * Col..................レスポンシブに対応した`width`を指定するためのヘルパークラスです。
 * Push.................レスポンシブに対応した`left`を指定するためのヘルパークラスです。
 * Pull.................レスポンシブに対応した`right`を指定するためのヘルパークラスです。
 * Column...............レスポンシブに対応した`column-count`を指定するためのヘルパークラスです。
 * Margin...............レスポンシブに対応した`margin`を指定するためのヘルパークラスです。
 * Padding..............`padding`を指定するためのヘルパークラスです。
 * Display..............要素の表示を切り替えるヘルパークラスです。
 * Float................`float`とクリアーフィックスのヘルパークラスです。
 * Align................`text-aign`と`vertical-align`のヘルパークラスです。
 * Position.............`position`のヘルパークラスです。
 */


/* ==========================================================================
   Foundation
   ========================================================================== */

// -----------------------------------------------------------------
// Function
// -----------------------------------------------------------------

@import "foundation/function/_function";

// -----------------------------------------------------------------
// Variable
// -----------------------------------------------------------------

@import "foundation/variable/_global";
@import "foundation/variable/_font-size";
@import "foundation/variable/_color";

// -----------------------------------------------------------------
// Mixin
// -----------------------------------------------------------------

@import "foundation/mixin/_media-query";
@import "foundation/mixin/_vertical-rhythm";
@import "foundation/mixin/_clearfix";

/* Vendor
   ----------------------------------------------------------------- */

@import "foundation/vendor/_normalize";

/* Vendor-extension
   ----------------------------------------------------------------- */

@import "foundation/vendor-extension/_normalize";

/* Base
   ----------------------------------------------------------------- */

@import "foundation/base/_base";
@import "foundation/base/_debug";


/* ==========================================================================
   Layout
   ========================================================================== */

@import "layout/_footer";
@import "layout/_header";
@import "layout/_main";
@import "layout/_sidebar";


/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

@import "object/component/_wrapper";
@import "object/component/_grid";
@import "object/component/_list-inline";
@import "object/component/_list-block";
@import "object/component/_rank";
@import "object/component/_pack";
@import "object/component/_stack";
@import "object/component/_media";
@import "object/component/_frag";
@import "object/component/_split";
@import "object/component/_justify";
@import "object/component/_scroll-table";
@import "object/component/_central";
@import "object/component/_button";
@import "object/component/_embed";
@import "object/component/_image";


/* Project
   ----------------------------------------------------------------- */

@import "object/project/_breadcrumbs";
@import "object/project/_pagination";
@import "object/project/_tag-cloud";
@import "object/project/_card";
@import "object/project/_balloon";


/* Utitlity
   ----------------------------------------------------------------- */

@import "object/utility/_col";
@import "object/utility/_push";
@import "object/utility/_pull";
@import "object/utility/_column";
@import "object/utility/_margin";
@import "object/utility/_padding";
@import "object/utility/_display";
@import "object/utility/_float";
@import "object/utility/_align";
@import "object/utility/_position";