/**
 * #Base
 */

/**
 * ボックスモデルを`border-box`にリセットします。
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    @include font-size;
    /* iOSとAndroidでのリンクをタップ時のハイライトをリセットする。 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    color: colors(black);
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    background-color: colors(bg);
    /* アンチエイリアスを指定する */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    /* メトリクスカーニングを指定する */
    font-kerning: normal;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

i,
cite,
em,
var,
address,
dfn {
    /* デフォルトスタイルのitalicをリセットする */
    font-style: normal;
}

/* プレイスホルダーのcolorを無効化してopacityでコントラストを抑える */
:-ms-input-placeholder {
    opacity: .54;
    color: inherit;
}

::-webkit-input-placeholder {
    opacity: .54;
    color: inherit;
}

:placeholder-shown {
  opacity: .54;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

h1, .u-h1 {
    @include font-size($h1-font-sizes);
}
h2, .u-h2 {
    @include font-size($h2-font-sizes);
}
h3, .u-h3 {
    @include font-size($h3-font-sizes);
}
h4, .u-h4 {
    @include font-size($h4-font-sizes);
}
h5, .u-h5 {
    @include font-size($h5-font-sizes);
}
h6, .u-h6 {
    @include font-size($h6-font-sizes);
}

a {
    color: colors(link);
    text-decoration: $base-link-decoration;
    &:visited {
        color: colors(link, visited);
    }
    &:hover,
    &:focus {
        color: colors(link, hover);
        text-decoration: $hover-link-decoration;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* マージンを持たないブロックとする。 */
figure {
    margin: 0;
}

ul, ol, dd {
    @include vertical-rhythm(padding-left, 0.5);
}

/* ネストされたリストのマージンをリセットする */
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

/**
 * マークアップ例
 * <blockquote cite="#">
 *     <p><small></small></p>
 *     <footer>
 *         <cite><a href="#"></a></cite>
 *     </footer>
 * </blockquote>
 */
blockquote {
    @include vertical-rhythm(margin-top, 1);
    margin-right: 0;
    @include vertical-rhythm(margin-bottom, 1);
    @include vertical-rhythm(margin-left, 0.5);
    @include vertical-rhythm(padding-left, 0.5);
    @include font-size($small-font-sizes);
    border-left: 1px solid colors(black, light);
    color: colors(black, light);
    & > :first-child {
        margin-top: 0;
    }
    & > :last-child {
        margin-bottom: 0;
    }
}

blockquote {
    cite:before {
        /* `<blockquote>`内の`<cite>`の先頭にemダッシュが付く */
        content: '\2014 \00A0';
    }
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

code,
kbd,
pre,
samp {
    font-size: 1rem;
}

code,
pre {
    font-family: $monospace-font-family;
}

kbd {
    /* ユーザーに入力を促す要素 */
    font-family: inherit;
    > kbd {
        /* キーボードのキーを示す要素に変化するためボーダーで囲われます */
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;
        padding: 3px 6px;
        @include font-size($small-font-sizes);
        line-height: 1;
        border-width: 1px;
        border-style: solid;
        border-radius: $base-round;
    }
}

/**
 * Vertical Rhythmを指定しているクラスセレクタをまとめて指定します。
 */
h1, h2, h3, h4, h5, h6,
p,
ul, ol, dl,
table,
pre,
address,
fieldset {
    margin-top: 0;
    @include vertical-rhythm(margin-bottom, 1);
}