//
// #Media-query
//

// @desc - ブレイクポイントを挿入する@mixinです。
// @see - http://www.sitepoint.com/managing-responsive-breakpoints-sass/
// @type Mixin
// @param {String} $breakpoint - `$breakpoints`のkeyを渡します。
// @requires {Map} $my-breakpoints - ブレイクポイントを管理するためのmapです。
//
// @example scss - Usage
// .foo {
//     color: red;
//     @include my-media-query(sm) {
//         color: blue;
//     }
// }
//
// @example css - CSS output
// .foo {
//   color: red;
// }
// @media screen and (min-width: 400px) {
//   .foo {
//     color: blue;
//   }
// }
//
@mixin my-media-query($breakpoint) {
    @if map-has-key($my-breakpoints, $breakpoint) {
        @media #{inspect(map-get($my-breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$my-breakpoints` map.";
    }
}