//
// #Global
//

// @desc - ブレイクポイントを管理するためのmapです。
// @type {Map}
// @prop {String} keys - ブレイクポイントのキーワードです。
// @prop {String} values - メディアクエリの条件です。
$my-breakpoints: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1000px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;

// @desc - グローバルに使用されるマージンのベースを定義します。
$my-base-margin: 1.5rem;
// @desc - グローバルに使用されるマージンのバリエーションを定義します。要素間の余白に使用されます。
// @type {Map}
// @see {Funcition} my-margins
$my-margins: (
    base: $my-base-margin,
    small: ($my-base-margin / 2),
    large: ($my-base-margin * 2),
) !default;

// @desc - グローバルに使用されるパディングのベースを定義します。
$my-base-padding: 1em;
// @desc - グローバルに使用されるパディングのバリエーションを定義します。要素内の余白に使用されます。
// @type {Map}
// @see {Funcition} my-paddings
$my-paddings: (
    base: $my-base-padding,
    small: ($my-base-padding / 2),
    large: ($my-base-padding * 1.5),
) !default;

// @desc - z-indexを管理するためのmapです。
// @type {Map}
// @prop {String} key - z-indexの数値を呼び出す時のキーワードです。
// @prop {Number} value - z-indexに指定する数値です。
$my-z-indexes: (
  'modal': 3,
  'dropdown': 2,
  'default': 1,
  'below': -1,
);

// ボタンコンポーネントなどの角丸に使用します。
$my-base-round: 3px;

// アニメーションのベースになる速度です。
$my-base-transition-duration: 0.3s;