/**
 * #Margin
 */
$my-margin-small: my-margins(small);
$my-margin-medium: my-margins();
$my-margin-large: my-margins(large);

/**
 * m - margin
 * a - all
 * t, r, b, l - top, right, bottom, left
 * x, y - top and bottom, right and left
 * 0, s, m, l - zero, small, medium, large
 */

@mixin my-margin($name, $value) {
    .u-ma-#{$name} { margin: $value $important; }
    .u-mt-#{$name} { margin-top: $value $important; }
    .u-mr-#{$name} { margin-right: $value $important; }
    .u-mb-#{$name} { margin-bottom: $value $important; }
    .u-ml-#{$name} { margin-left: $value $important; }
    .u-my-#{$name} {
        margin-top: $value $important;
        margin-bottom: $value $important;
    }
    .u-mx-#{$name} {
        margin-right: $value $important;
        margin-left: $value $important;
    }
}

@include my-margin(0, 0);
@include my-margin(s, $my-margin-small);
@include my-margin(m, $my-margin-medium);
@include my-margin(l, $my-margin-large);