/**
 * #Position
 */

.u-pos {
    position: static $important;
}

.u-por {
    position: relative $important;
}

.u-poa {
    position: absolute $important;
}

.u-pof {
    position: fixed $important;
}