/**
 * #Position
 */

.u-position-static {
    position: static $important;
}

.u-position-relative {
    position: relative $important;
}

.u-position-absolute {
    position: absolute $important;
}

.u-position-fixed {
    position: fixed $important;
}