/**
 * #Button
 */
$my-button-pill-base: 0 !default;
$my-button-pill-round: 3em !default;

/**
 * ベーシックなボタンオブジェクトです。
 * `<a>`, `<button>`, `<input>`要素のスタイルをリセットしています。
 * サイズやスタイルの変更はモディファイアクラスを指定します。
 * [DEMO](https://jsfiddle.net/manabuyasuda/yoLg0g9h/1)
 *
 * <div class="l-page-content">
 *   <a href="#" class="c-button [c-button--full]">First Button</a>
 *   <button class="c-button [c-button--full]">Second Button</button>
 *   <input type="button" value="Button" class="c-button [c-button--full]" />
 * </div>
 */
.c-button {
    display: inline-block;
    margin: 0;
    padding: 0.75em;
    border: none;
    border-radius: $my-base-round;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.c-button--full {
    width: 100%;
}

.c-button--circle {
    border-radius: 50%;
}


/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.c-button--pill {
    border-radius: $my-button-pill-round;
}

.c-button--pill-right {
    border-radius: $my-button-pill-base $my-button-pill-round $my-button-pill-round $my-button-pill-base;
}

.c-button--pill-center {
    border-radius: $my-button-pill-base;
}

.c-button--pill-left {
    border-radius: $my-button-pill-round $my-button-pill-base $my-button-pill-base $my-button-pill-round;
}