/**
 * #Central
 */

/**
 * 上下左右の中央配置に利用するオブジェクトです。
 * [DEMO](https://jsfiddle.net/manabuyasuda/p479y7hs/)
 *
 * <div class="c-central-box [c-central-box--full]">
 *     <div class="c-central-box__item">
 *        [content]
 *     </div>
 * </div>
 */
.c-central-box {
    position: relative;
    margin: 0;
    padding: 0;
}

.c-central-box__item {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.c-central-box--full {
    width: 100%;
    height: 100%;
}