/**
 * #Inline
 */
$my-inline-space: my-paddings(small) !default;

/**
 * 横並びになるリストオブジェクトです。
 * [DEMO](//jsfiddle.net/manabuyasuda/udbyrfbo/5/)
 *
 * <ul class="c-inline">
 *   <li class="c-inline__item">
 *     <a href="" class="c-inline__link"></a>
 *   </li>
 *   <li class="c-inline__item">
 *     <a href="" class="c-inline__link"></a>
 *   </li>
 * </ul>
 */
.c-inline {
    @include my-clearfix;
    margin: 0 0 0 (-$my-inline-space);
    padding: 0;
    list-style-type: none;
}

.c-inline__item {
    display: inline-block;
    float: left;
    padding-left: $my-inline-space;
}

.c-inline__link {
    display: inline-block;
}