/**
 * #Scroll
 */

/**
 * `<table>`要素の横スクロールを可能にするオブジェクトです。
 *
 * <table class="c-scroll"></table>
 */
.c-scroll {
    display: block;
    overflow-x: auto;
    max-width: 100%;
    min-height: 0.01%;
}

.c-scroll th,
.c-scroll td {
    white-space: nowrap;
}