/**
 * #Wrapper
 */
$my-wrapper-padding: my-paddings() !default;
$my-wrapper-padding-small: ($my-wrapper-padding / 2) !default;
$my-wrapper-padding-large: ($my-wrapper-padding * 2) !default;

/**
 * 横幅を制限するラッパーオブジェクトです。
 * Modifierで左右のパディングが入ります。
 *
 * <div class="c-wrapper [c-wrapper--medium]">
 *   <div class="c-grid">
 *     <div class="c-grid__item u-col-8of12-md"></div>
 *     <div class="c-grid__item u-col-4of12-md"></div>
 *   </div>
 * </div>
 */
.c-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.c-wrapper--small {
    padding-right: $my-wrapper-padding-small;
    padding-left: $my-wrapper-padding-small;
}

.c-wrapper--medium {
    padding-right: $my-wrapper-padding;
    padding-left: $my-wrapper-padding;
}

.c-wrapper--large {
    padding-right: $my-wrapper-padding-large;
    padding-left: $my-wrapper-padding-large;
}