/**
 * #Balloon
 */
$my-balloon-space: my-paddings() !default;
$my-balloon-width: 12px !default;
$my-balloon-border-width: 1px !default;
$my-balloon-border-color: my-colors(ui, light) !default;
$my-balloon-bg: my-colors(bg) !default;

/**
 * 吹き出しを作るコンポーネントです。
 * [DEMO](https://jsfiddle.net/manabuyasuda/pc237gL3/1)
 *
 * <div class="p-balloon p-balloon--left-middle"></div>
 */
.p-balloon {
    display: inline-block;
    position: relative;
    padding: $my-balloon-space;
    border: $my-balloon-border-width solid $my-balloon-border-color;
    border-radius: $my-base-round;
    vertical-align: top;
    box-shadow: 0 1px 2px rgba($my-balloon-border-color, 0.3);
}

// margin
.p-balloon--top-center,
.p-balloon--top-left,
.p-balloon--top-right {
    margin-top: $my-balloon-space;
}

.p-balloon--bottom-center,
.p-balloon--bottom-left,
.p-balloon--bottom-right {
    margin-bottom: $my-balloon-space;
}

.p-balloon--right-middle,
.p-balloon--right-top,
.p-balloon--right-bottom {
    margin-right: $my-balloon-space;
}

.p-balloon--left-middle,
.p-balloon--left-top,
.p-balloon--left-bottom {
    margin-left: $my-balloon-space;
}

// common
.p-balloon--top-center,
.p-balloon--top-left,
.p-balloon--top-right,
.p-balloon--bottom-center,
.p-balloon--bottom-left,
.p-balloon--bottom-right,
.p-balloon--right-middle,
.p-balloon--right-top,
.p-balloon--right-bottom,
.p-balloon--left-middle,
.p-balloon--left-top,
.p-balloon--left-bottom {
    &:before,
    &:after {
        content: "";
        position: absolute;
        border: $my-balloon-width solid transparent;
    }
}

// top, botom
.p-balloon--top-center,
.p-balloon--top-left,
.p-balloon--top-right {
    &:before,
    &:after {
        bottom: 100%;
        border-bottom-color: $my-balloon-bg;
    }
}

.p-balloon--bottom-center,
.p-balloon--bottom-left,
.p-balloon--bottom-right {
    &:before,
    &:after {
        top: 100%;
        border-top-color: $my-balloon-bg;
    }
}

.p-balloon--top-center,
.p-balloon--bottom-center {
    &:before,
    &:after {
        left: 50%;
        margin-left: -($my-balloon-width);
    }
}

.p-balloon--top-center,
.p-balloon--bottom-center {
    &:before {
        margin-left: -($my-balloon-width + $my-balloon-border-width);
        border-width: ($my-balloon-width + $my-balloon-border-width);
    }
}

.p-balloon--top-center:before {
    border-bottom-color: $my-balloon-border-color;
}

.p-balloon--bottom-center:before {
    border-top-color: $my-balloon-border-color;
}

.p-balloon--top-left,
.p-balloon--bottom-left {
    &:before,
    &:after {
        left: 0;
        margin-left: (($my-balloon-width * 2) + $my-balloon-border-width);
    }
}

.p-balloon--top-left,
.p-balloon--bottom-left {
    &:before {
        margin-left: ($my-balloon-width * 2);
        border-width: ($my-balloon-width + $my-balloon-border-width);
    }
}

.p-balloon--top-left:before {
    border-bottom-color: $my-balloon-border-color;
}

.p-balloon--bottom-left:before {
    border-top-color: $my-balloon-border-color;
}

// right, left
.p-balloon--top-right,
.p-balloon--bottom-right {
    &:before,
    &:after {
        right: 0;
        margin-right: (($my-balloon-width * 2) + $my-balloon-border-width);
    }
}

.p-balloon--top-right,
.p-balloon--bottom-right {
    &:before {
        margin-right: ($my-balloon-width * 2);
        border-width: ($my-balloon-width + $my-balloon-border-width);
    }
}

.p-balloon--top-right:before {
    border-bottom-color: $my-balloon-border-color;
}

.p-balloon--bottom-right:before {
    border-top-color: $my-balloon-border-color;
}

.p-balloon--right-middle,
.p-balloon--right-top,
.p-balloon--right-bottom {
    &:before,
    &:after {
        left: 100%;
        border-width: ($my-balloon-width + $my-balloon-border-width);
        border-left-color: $my-balloon-bg;
    }
}

.p-balloon--right-middle,
.p-balloon--right-top,
.p-balloon--right-bottom {
    &:before {
        margin-left: $my-balloon-border-width;
        border-left-color: $my-balloon-border-color;
    }
}

.p-balloon--right-middle,
.p-balloon--left-middle {
    &:before,
    &:after {
        top: 50%;
        margin-top: (-$my-balloon-width);
    }
}

.p-balloon--right-top,
.p-balloon--left-top {
    &:before,
    &:after {
        top: 0;
        margin-top: ($my-balloon-width * 2);
    }
}

.p-balloon--right-bottom,
.p-balloon--left-bottom {
    &:before,
    &:after {
        bottom: 0;
        margin-bottom: ($my-balloon-width * 2);
    }
}

.p-balloon--left-middle,
.p-balloon--left-top,
.p-balloon--left-bottom {
    &:before,
    &:after {
        right: 100%;
        border-width: ($my-balloon-width + $my-balloon-border-width);
        border-right-color: $my-balloon-bg;
    }
}

.p-balloon--left-middle,
.p-balloon--left-top,
.p-balloon--left-bottom {
    &:before {
        margin-right: $my-balloon-border-width;
        border-right-color: $my-balloon-border-color;
    }
}