/**
 * #Card
 */
$my-card-gap: my-paddings() !default;
$my-card-padding-y: my-paddings(large) !default;
$my-card-padding-x: my-paddings() !default;
$my-card-border: 1px solid my-colors(ui, light) !default;
$my-card-round: $my-base-round !default;

/**
 * カード型のオブジェクトです。
 * [DEMO](https://jsfiddle.net/manabuyasuda/qyspyLg1/2)
 *
 * <div class="p-card">
 *   <img class="p-card__image-top">
 *   <div class="p-card__body">
 *     <h2 class="p-card__title"></h2>
 *     <p class="p-card__text"></p>
 *   </div>
 *   <ul class="p-card__list">
 *     <li class="p-card__item"></li>
 *     <li class="p-card__item"></li>
 *   </ul>
 *   <div class="p-card__foot">
 *     <p class="p-card__text"></p>
 *   </div>
 * </div>
 */
.p-card {
    margin-bottom: $my-card-gap;
    border: $my-card-border;
    border-radius: $my-card-round;
}

.p-card__body {
    padding: $my-card-padding-y $my-card-padding-x;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__head {
    padding: $my-card-padding-x;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__foot {
    padding: $my-card-padding-x;
    border-top: $my-card-border;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__head,
.p-card__image-top,
.p-card__item--top,
.p-card__link--top {
    @if $my-card-round != null {
        border-radius: $my-card-round $my-card-round 0 0;
    }
}

.p-card__foot,
.p-card__image-bottom,
.p-card__item--bottom,
.p-card__link--bottom {
    @if $my-card-round != null {
        border-radius: 0 0 $my-card-round $my-card-round;
    }
}

.p-card__title {
    margin-top: 0;
}

.p-card__text:last-child {
    margin-bottom: 0;
}

.p-card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-card__item {
    padding: $my-card-padding-x;
    border-top: $my-card-border;
}

.p-card__link {
    display: block;
    margin: -$my-card-padding-x;
    padding: $my-card-padding-x;
}