/**
 * #Align
 */
$align-ns: null !default;

.#{$align-ns}u-tar {
    text-align: right !important;
}

.#{$align-ns}u-tac {
    text-align: center !important;
}

.#{$align-ns}u-tal {
    text-align: left !important;
}

.#{$align-ns}u-vat {
    vertical-align: top !important;
}

.#{$align-ns}u-vam {
    vertical-align: middle !important;
}

.#{$align-ns}u-vab {
    vertical-align: bottom !important;
}