/**
 * #Display
 */
$display-ns: null !default;

.#{$display-ns}u-hide-visually {
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
}

// レスポンシブに対応したヘルパークラスを生成します。
// @param {String} breakpoint(null) - ブレイクポイントを示すキーワードになります。
// @param {String} pref - ブレイクポイントに接頭辞を付けます。
@mixin display($breakpoint: null) {
  @if $breakpoint != null {
    $pref: \@;
  } @else {
    $pref: null;
  }
  .#{$display-ns}u-display-none#{$pref}#{$breakpoint} { display: none !important; }
  .#{$display-ns}u-display-block#{$pref}#{$breakpoint} { display: block !important; }
  .#{$display-ns}u-display-inline#{$pref}#{$breakpoint} { display: inline !important; }
  .#{$display-ns}u-display-inline-block#{$pref}#{$breakpoint} { display: inline-block !important; }
}

// ブレイクポイントなしのクラスを生成します。
@include display;

// レスポンシブに対応したヘルパークラスを生成します。
// @requires {Map} $breakpoints - キーワードとメディアタイプ等を定義しています。
@for $i from 1 through length($breakpoints) {
  $allKeys: map-keys($breakpoints);
  $mapKeys: nth($allKeys, $i);

  @media #{unquote(map-get($breakpoints, $mapKeys))}{
    @include display($mapKeys);
  }
}