/**
 * #Display
 */

.u-hide-visually {
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
}

// レスポンシブに対応したヘルパークラスを生成します。
// @param {String} breakpoint(null) - ブレイクポイントを示すキーワードになります。
@mixin display($breakpoint: null) {
  $pref: null;
  @if $breakpoint != null {
      $pref: \@;
  }
  .u-display-none#{$pref}#{$breakpoint} { display: none !important; }
  .u-display-block#{$pref}#{$breakpoint} { display: block !important; }
  .u-display-inline#{$pref}#{$breakpoint} { display: inline !important; }
  .u-display-inline-block#{$pref}#{$breakpoint} { display: inline-block !important; }
}

// ブレイクポイントのないclassを生成します。
@include display;

// ブレイクポイント付きのclassを生成します。
// @requires {Map} $breakpoints - ブレイクポイントを定義しています。
@each $name, $breakpoint in $breakpoints {
    @media #{$breakpoint} {
        @include display($name);
    }
}