/**
 * #Position
 */
$position-ns: null !default;

.#{$position-ns}u-pos {
    position: static !important;
}

.#{$position-ns}u-por {
    position: relative !important;
}

.#{$position-ns}u-poa {
    position: absolute !important;
}

.#{$position-ns}u-pof {
    position: fixed !important;
}