/**
 * #Pull
 */

/**
 * レスポンシブに対応した`pull`のヘルパークラスです。
 * http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/
 * https://github.com/csswizardry/frcss/blob/master/_trumps.widths.scss
 */

// このようにコンパイルされます。
// .u-pull11\/12 { right: 91.66667% !important; }
// .u-pull12\/12 { right: 100% !important; }
// @media screen and (min-width: 400px) {
//     .u-pull1\/12\@sm { right: 8.33333% !important; }
//     .u-pull2\/12\@sm { right: 16.66667% !important; }


 [class*="u-pull"] {
    position: relative;
}

// 取得したいカラム数をリスト形式で指定します。
// 例えば`1 2`を指定すると1/1, 1/2, 2/2の`pull`を取得できます。
$pull-cols: 12 !default;

// @param {Number} $cols - 取得したいカラム数を指定します。
// @param {String} $breakpoint(null) - ブレイクポイント用のキーワードを付与します。
// @requires {List} $pull-cols - 取得するカラム数を定義しています。
@mixin pull($cols, $breakpoint: null) {
    // 受け取った値を$colに渡し、値の数だけ繰り返します。
    @each $col in $cols {
        // 格納した数値を繰り返して、その回数を$iに格納します。
        @for $i from 1 through $col {
            // .u- + 分子($i)/分母($col) + ブレイクポイント名という命名規則。
            // バックスラッシュ`\`でスラッシュ`/`をエスケープします。
            .u-push#{$i}\/#{$col}#{$breakpoint} {
                // `percentage()`関数でパーセンテージに変換します。
                right: percentage($i / $col) !important;
            }
        }
    }
}

// ブレイクポイントのないclassを生成します。
@include pull($pull-cols);

// ブレイクポイント付きのclassを生成します。
// @requires {Map} $breakpoints - ブレイクポイントを定義しています。
@each $name, $breakpoint in $breakpoints {
    @media #{$breakpoint} {
        // @とkeyを第二引数に渡します。
        @include pull($pull-cols, \@#{$name})
    }
}