/**
 * #Push
 */

/**
 * レスポンシブに対応した`push`のヘルパークラスです。
 * http://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/
 * https://github.com/csswizardry/frcss/blob/master/_trumps.widths.scss
 */

// このようにコンパイルされます。
// .u-push11\/12 { left: 91.66667% !important; }
// .u-push12\/12 { left: 100% !important; }
// @media screen and (min-width: 400px) {
//     .u-push1\/12\@sm { left: 8.33333% !important; }
//     .u-push2\/12\@sm { left: 16.66667% !important; }


 [class*="u-push"] {
    position: relative;
}

// 取得したいカラム数をリスト形式で指定します。
// 例えば`1 2`を指定すると1/1, 1/2, 2/2の`push`を取得できます。
$push-cols: 12 !default;

// @param {Number} $cols - 取得したいカラム数を指定します。
// @param {String} $breakpoint(null) - ブレイクポイント用のキーワードを付与します。
// @requires {List} $push-cols - 取得するカラム数を定義しています。
@mixin push($cols, $breakpoint: null) {
    @each $col in $cols {
        @for $i from 1 through $col {
            .u-push#{$i}\/#{$col}#{$breakpoint} {
                left: percentage($i / $col) !important;
            }
        }
    }
}

// ブレイクポイントのないclassを生成します。
@include push($push-cols);

// ブレイクポイント付きのclassを生成します。
// @requires {Map} $breakpoints - ブレイクポイントを定義しています。
@each $name, $breakpoint in $breakpoints {
    @media #{$breakpoint} {
        @include push($push-cols, \@#{$name})
    }
}