// @desc - 単位付きの値の単位を削除します。
// @type Function
// @prop {Number} - pxやemなどの単位付きの値を渡します。
// @example scss - Usage
// strip-unit(14px) => 14
//
@function my-strip-unit($n) {
    @return $n / ($n * 0 + 1);
}

// @desc - プロジェクト共通のマージンを返します。
// @type Function
// @prop {String} $key(base) - 引数を指定しない場合はベースになる値を指定します。
// @require {Map} $my-margins - プロジェクト共通のマージンをバリエーションごとに定義しています。
@function my-margins($key: base) {
    @return map-get($my-margins, $key);
}

// @desc - プロジェクト共通のパディングを返します。
// @type Function
// @prop {String} $key(base) - 引数を指定しない場合はベースになる値を指定します。
// @require {Map} $my-paddings - プロジェクト共通のマージンをバリエーションごとに定義しています。
@function my-paddings($key: base) {
    @return map-get($my-paddings, $key);
}

// @desc - マップに定義したvalueを返す関数です。
// @type Funciton
// @prop {String} $key - カラーのキーワード
// @prop {String} $tone(base) - カラーのサブキーワード
// @return {String} - マップで定義しているhex値などを返します。
// @require {Map} $my-colors - プロジェクトを通して使用される色を管理するためのマップです。
//
// @example scss - Usage
// my-colors(black, light) => #888
//
@function my-colors($key, $tone: base) {
    @return map-get( map-get($my-colors, $key), $tone);
}


// @desc - キーワードからz-indexの数値を取得します。
// @type Funciton
// @param {String} $layer - z-indexのキーワード
// @return {Number}
// @require {Map} $my-z-indexes - z-indexを管理するためのmapです。
//
// @example scss - Usage
// .modal {
//     z-index: my-z(modal);
// }
//
// @example css - CSS output
// .modal {
//     z-index: 3;
// }
//
@function my-z-indexs($layer) {
  @return map-get($my-z-indexes, $layer);
}