/**
 * #Breadcrumbs
 */
$breadcrumbs-ns: null !default;
$breadcrumbs-margin: 0 0.5rem !default;

/**
 * パンくずリストのコンポーネントです。
 * `c-breadcrumbs--ellipsis`で末尾のリストを省略できます。
 *
 * <ul class="c-breadcrumbs c-breadcrumbs--ellipsis">
 *   <li class="c-breadcrumbs__item"><a href="#" class="c-breadcrumbs__link">home</a></li>
 *   <li class="c-breadcrumbs__item"><a href="#" class="breadcrumb__link">category</a></li>
 *   <li class="c-breadcrumbs__item">content title</li>
 * </ul>
 */
.#{$breadcrumbs-ns}c-breadcrumbs {
    padding-left: 0;
    list-style-type: none;
}

.#{$breadcrumbs-ns}c-breadcrumbs--ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    & .#{$breadcrumbs-ns}c-breadcrumbs__item:last-child {
        display: inline;
    }
}

.#{$breadcrumbs-ns}c-breadcrumbs__item {
    display: inline-block;
}

.#{$breadcrumbs-ns}c-breadcrumbs__link {
    display: inline-block;
}

.#{$breadcrumbs-ns}c-breadcrumbs__item + .#{$breadcrumbs-ns}c-breadcrumbs__item:before {
    content: "\003E";
    margin: $breadcrumbs-margin;
}