/**
 * #Button
 */
$button-margin: 0 !default;
$button-padding-y: 0.75em !default;
$button-padding-x: 0.75em !default;
$button-pill-base: 0 !default;
$button-pill-round: 3em !default;

/**
 * ベーシックなボタンコンポーネントです。
 * `<a>`, `<button>`, `<input>`要素でスタイルをリセットしています。
 * サイズやスタイルの変更はモディファイアクラスを指定します。
 *
 * <div class="l-page-content">
 *   <a href="#" class="c-button [c-button--full]">First Button</a>
 *   <button class="c-button [c-button--full]">Second Button</button>
 *   <input type="button" value="Button" class="c-button [c-button--full]" />
 * </div>
 */
.c-button {
    display: inline-block;
    margin: $button-margin;
    padding: $button-padding-y $button-padding-x;
    border: none;
    border-radius: $base-round;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.c-button--full {
    width: 100%;
}

.c-button--circle {
    border-radius: 50%;
}


/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.c-button--pill {
    border-radius: $button-pill-round;
}

.c-button--pill-right {
    border-radius: $button-pill-base $button-pill-round $button-pill-round $button-pill-base;
}

.c-button--pill-center {
    border-radius: $button-pill-base;
}

.c-button--pill-left {
    border-radius: $button-pill-round $button-pill-base $button-pill-base $button-pill-round;
}