/**
 * #Central
 */

/**
 * 上下左右の中央配置に利用するオブジェクトです。
 *
 * <div class="c-central-box">
 *     <div class="c-central-box__item">
 *        [content]
 *     </div>
 * </div>
 */
.c-central-box {
    position: relative;
    margin: 0;
    padding: 0;
}

.c-central-box__item {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}