/**
 * #Embed
 */

/**
 * YouTubeなどのエンベディットコンテンツを埋め込むオブジェクトです。
 * `.c-embed--16:9`などと指定してアスペクト比を固定します。
 *
 * <div class="c-embed c-embed--16:9">
 *     <iframe></iframe>
 * </div>
 */
.c-embed {
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
    iframe,
    embed,
    object,
    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        border: 0;
    }
}

.c-embed--16\:9 {
    padding-bottom: percentage(9 / 16) !important;
}

.c-embed--4\:3 {
    padding-bottom: percentage(3 / 4) !important;
}