/**
 * #Form
 */

/**
 * フォーム要素をグルーピングするためのオブジェクトです。
 *
 * <fieldset class="c-form-inner">
 *   <legend></legend>
 *   <label></label>
 *   <input />
 *   <label></label>
 *   <input />
 * </fieldset>
 */
.c-form-inner {
    @include vertical-rhythm(margin-bottom, 1);
}

/**
 * labelとテキストエリアを縦に配置するオブジェクトです。
 *
 * <ul class="c-form-stack">
 *   <li class="c-form-stack__unit">
 *     <label class="c-form-stack__name"></label>
 *     <input class="c-form-stack__text" />
 *   </li>
 * </ul>
 */
.c-form-stack {
    margin: 0;
    @include vertical-rhythm(margin-bottom, 1);
    padding: 0;
    list-style-type: none;
}

.c-form-stack__unit {
    @include vertical-rhythm(margin-bottom, 0.5);
}

.c-form-stack__name {
    display: block;
}

.c-form-stack__text {

}