/**
 * #Frag
 */
$frag-gutter: 1em !default;

/**
 * 垂直方向の変更ができるmediaオブジェクトです。デフォルトは`vertical-align:middle`です。
 * `.c-frag--rev`を指定すると画像を右側に配置することもできます。
 * 垂直方向を変更するため、`<img>`は`c-frag__image`で必ずラップします。
 * マークアップに制限があるため、mediaオブジェクトを優先して使用してください。
 * http://csswizardry.com/2013/05/the-flag-object/
 *
 * <div class="c-frag [c-frag--rev]">
 *   <figure class="c-frag__image">
 *     <img">
 *   </figure>
 *   <div class="c-frag__body">
 *     <p></p>
 *   </div>
 * </div>
 */
.c-frag {
    display: table;
    width: 100%;
}

.c-frag__image {
    display: table-cell;
    padding-right: $frag-gutter;
    vertical-align: middle;
    > img {
        display: block;
        max-width: none;
    }
}

.c-frag__body {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

/* `margin-bottom`を含んだまま、垂直方向が揃うのを防ぐ */
.c-frag__body > :last-child {
    margin-bottom: 0;
}

.c-frag--rev {
    /* 文字表記を右から左に変更します。 */
    direction: rtl;
    > .c-frag__image,
    > .c-frag__body {
        /* IE以外ではテキストが右寄せのままになってしまう */
        text-align: left;
        /* derectionプロパティを元に戻します。*/
        direction: ltr;
    }
    > .c-frag__image {
        padding-right: 0;
        padding-left: $frag-gutter;
    }
}

.c-frag--no-gap {
    > .c-frag__image {
        padding-right: 0;
        padding-left: 0;
    }
}

.c-frag--top {
    > .c-frag__image,
    > .c-frag__body {
        vertical-align: top;
    }
}

.c-frag--bottom {
    > .c-frag__image,
    > .c-frag__body {
        vertical-align: bottom;
    }
}