/**
 * #Generic-box
 */

/**
 * 汎用的なボックスオブジェクトです。
 *
 * <div class="c-generic-box [c-generic-box-center">
 *   <div class="c-media">
 *   </div>
 * </div>
 */
.c-generic-box {
    @include vr(0, 1);
    padding: 1em;
    border-radius: $base-round;
}

.c-generic-box--center {
    margin-right: auto;
    margin-left: auto;
}