/**
 * #Image
 */
$image-ns: null !default;
$image-margin: 1rem !default;

.#{$image-ns}c-image-round {
    border-radius: $base-round;
}

.#{$image-ns}c-image-circle {
    border-radius: 50%;
}

.#{$image-ns}c-image-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.#{$image-ns}c-image-right {
    float: right;
    margin-left: $image-margin;
}

.#{$image-ns}c-image-left {
    float: left;
    margin-right: $image-margin;
}

.#{$image-ns}c-image-border {
    padding: 0.5em;
    border: 1px solid $base-ui-color;
}