/**
 * #Image
 */
$image-ns: null !default;
$image-margin: 1rem !default;

.#{$image-ns}c-image-round {
    border-radius: $base-round;
}

.#{$image-ns}c-image-circle {
    border-radius: 50%;
}

.#{$image-ns}c-image-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.#{$image-ns}c-image-right {
    float: right;
    margin-left: $image-margin;
}

.#{$image-ns}c-image-left {
    float: left;
    margin-right: $image-margin;
}

.#{$image-ns}c-image-border {
    padding: 0.5rem;
    border: 1px solid $base-ui-color;
}

/**
 * 背景画像が縦横比を固定したまま表示領域いっぱいに表示されます。
 * モディファイアかprojectレイヤーで
 * `background-image`や`background-position`などを追加してください。
 *
 * <div class="c-image-cover [c-image-cover--fixed] p-image-example">
 *   <div class="c-central-box">
 *     <h1></h1>
 *   </div>
 * </div>
 *
 * .p-image-example {
 *     position: relative; // 子要素の中央配置の起点となる
 *     height: 300px; // 高さを固定
 *     background-position: left top; // 基準位置を指定
 *     background-image: url("http://placeimg.com/640/300/tech"); // 表示する画像を指定
 * }
 */
.#{$image-ns}c-image-cover {
    background-color: inherit;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.#{$image-ns}c-image-cover--fixed {
    @include media-query(lg) {
        background-attachment: fixed;
    }
}

/**
 * 背景画像の上に透過された黒いレイヤーを覆います。
 * モディファイアで背景色を指定します。
 * elementを指定しないと、うまく表示、選択できなくなるので注意してください。
 *
 * <div class="c-image-overlay c-image-overlay--black">
 *   <div class="c-image-overlay__unit c-central-box">
 *     content
 *   </div>
 * </div>
 */
.#{$image-ns}c-image-overlay {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.#{$image-ns}c-image-overlay__unit {
    position: absolute;
    z-index: z(default);
}

.#{$image-ns}c-image-overlay--black {
    &:after {
        background: rgba(0, 0, 0, 0.6);
    }
}

.#{$image-ns}c-image-overlay--teal {
    &:after {
        background: linear-gradient(rgba(teal, 0.9), rgba(teal, 0.6));
    }
}