/**
 * #List-inline
 */
$list-inline-space: 0.5em !default;

/**
 * 横並びになるリストオブジェクトです。
 *
 * <ul class="c-list-inline">
 *   <li class="c-list-inline__item">
 *     <a href="" class="c-list-inline__link"></a>
 *   </li>
 *   <li class="c-list-inline__item">
 *     <a href="" class="c-list-inline__link"></a>
 *   </li>
 * </ul>
 */
.c-list-inline {
    @include clearfix;
    margin: 0 0 0 (-$list-inline-space);
    padding: 0;
    list-style-type: none;
}

.c-list-inline__item {
    display: inline-block;
    float: left;
    padding-left: $list-inline-space;
}

.c-list-inline__link {
    display: inline-block;
}