/**
 * #Media
 */
$media-gutter: 1em !default;

/**
 * 画像とテキストを横並びにするオブジェクトです。
 * `c-media__image`は`<figure>`でも`<img>`のどちらでも使用できます。
 * `c-media__image--rev`を指定すると画像を右側に配置することもできます。
 * `c-media__image`と`c-media__body`は`<img>`と`<p>`に直接マークアップすることもできます。
 *
 * <div class="c-media">
 *   <figure class="c-media__image [c-media__image--rev]">
 *     <img>
 *   </figure>
 *   <div class="c-media__body">
 *     <p></p>
 *   </div>
 * </div>
 */
.c-media {
    @include clearfix;
    margin: 0;
    padding: 0;
}

.c-media__image {
    float: left;
    margin-right: $media-gutter;
    > img {
        display: block;
        max-width: none;
    }
}

.c-media__body {
    overflow: hidden;
}

.c-media__image--rev {
    float: right;
    margin-right: 0;
    margin-left: $media-gutter;
}

.c-media--no-gap {
    > .c-media__image {
        padding-right: 0;
        padding-left: 0;
    }
}