/**
 * #Pack
 */
$pack-padding-y: 1em !default;
$pack-padding-x: 0.5em !default;

/**
 * 横幅いっぱいで均等かつ中央揃えのナビゲーションオブジェクトです。
 *
 * <ul class="c-pack [c-pack--equal c-pack--size-small]">
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 * </ul>
 */
.c-pack {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.c-pack--equal {
    table-layout: fixed;
}

.c-pack__item {
    display: table-cell;
}

.c-pack__link {
    display: block;
    padding: $pack-padding-y $pack-padding-x;
    line-height: 1;
    text-decoration: none;
}

.c-pack--size-small {
    .c-pack__link {
        padding: ($pack-padding-y / 2) ($pack-padding-x / 1);
    }
}

.c-pack--size-large {
    .c-pack__link {
        padding: ($pack-padding-y * 2) ($pack-padding-x * 1);
    }
}