/**
 * #Pack
 */
$pack-ns: null !default;
$pack-padding-y: 1em;
$pack-padding-x: 0.5em;

/**
 * 横幅いっぱいで均等かつ中央揃えのナビゲーションオブジェクトです。
 *
 * <ul class="c-pack [c-pack--equal c-pack--size-small]">
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 *   <li class="c-pack__item"><a href="#" class="c-pack__link"></a></li>
 * </ul>
 */
.#{$pack-ns}c-pack {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.#{$pack-ns}c-pack--equal {
    table-layout: fixed;
}

.#{$pack-ns}c-pack__item {
    display: table-cell;
}

.#{$pack-ns}c-pack__link {
    display: block;
    padding: $pack-padding-y $pack-padding-x;
    text-decoration: none;
}

.#{$pack-ns}c-pack--size-small {
    .#{$pack-ns}c-pack__link {
        padding: ($pack-padding-y / 2) ($pack-padding-x / 2);
    }
}

.#{$pack-ns}c-pack--size-large {
    .#{$pack-ns}c-pack__link {
        padding: ($pack-padding-y * 2) ($pack-padding-x * 2);
    }
}