/**
 * #Rank
 */
$rank-ns: null !default;
$rank-space-y: 1em !default;
$rank-space-x: 0.5em !default;

/**
 * 横並び（ranked）になるリストオブジェクトです。
 *
 * <ul class="c-rank [c-rank--size-small]">
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">home</a></li>
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">category</a></li>
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">category</a></li>
 * </ul>
 */
.#{$rank-ns}c-rank {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 1;
    list-style-type: none;
}

.#{$rank-ns}c-rank__item {
    display: inline-block;
    padding: $rank-space-y $rank-space-x;
    font-size: 1rem;
}

.#{$rank-ns}c-rank__link {
    display: inline-block;
    margin: (-$rank-space-y) (-$rank-space-x);
    padding: $rank-space-y $rank-space-x;
}

.#{$rank-ns}c-rank--size-small {
    > .#{$rank-ns}c-rank__item {
        padding: ($rank-space-y / 2) ($rank-space-x / 1);
    }
    .#{$rank-ns}c-rank__link {
        margin: (-$rank-space-y / 2) (-$rank-space-x / 1);
        padding: ($rank-space-y / 2) ($rank-space-x / 1);
    }
}

.#{$rank-ns}c-rank--size-large {
    > .#{$rank-ns}c-rank__item {
        padding: ($rank-space-y * 2) ($rank-space-x * 1);
    }
    .#{$rank-ns}c-rank__link {
        margin: (-$rank-space-y * 2) (-$rank-space-x * 1);
        padding: ($rank-space-y * 2) ($rank-space-x * 1);
    }
}