/**
 * #Rank
 */
$rank-ns: null !default;
$rank-padding-y: 1em !default;
$rank-padding-x: 0.5em !default;

/**
 * 横並び（ranked）になるリストオブジェクトです。
 *
 * <ul class="c-rank [c-rank--size-small]">
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">home</a></li>
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">category</a></li>
 *   <li class="c-rank__item"><a href="#" class="c-rank__link">category</a></li>
 * </ul>
 */
.#{$rank-ns}c-rank {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style-type: none;
}

.#{$rank-ns}c-rank__item {
    display: inline-block;
    font-size: 1rem;
}

.#{$rank-ns}c-rank__link {
    display: inline-block;
    padding: $rank-padding-y $rank-padding-x;
    line-height: 1;
}

.#{$rank-ns}c-rank--size-small {
    .#{$rank-ns}c-rank__link {
        padding: ($rank-padding-y / 2) ($rank-padding-x / 1);
    }
}

.#{$rank-ns}c-rank--size-large {
    .#{$rank-ns}c-rank__link {
        padding: ($rank-padding-y * 2) ($rank-padding-x * 1);
    }
}