/**
 * #Stack
 */
$my-stack-space-y: 1em !default;
$my-stack-space-x: 0 !default;

/**
 * 縦に積み重なる（stack up）シンプルなナビゲーションオブジェクトです。
 * リンクがない場合でも余白が変わりません。
 * モディファイアで余白が変更できます。
 *
 * <ul class="c-stack [c-stack--size-small]">
 *     <li class="c-stack__item">
 *         <a href="#" class="c-stack__link">
 *            [content]
 *         </a>
 *     </li>
 *     <li class="c-stack__item">
 *          [content]
 *     </li>
 * </ul>
 */
.c-stack {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.c-stack__item {
    padding: $my-stack-space-y $my-stack-space-x;
}

.c-stack__link {
    display: block;
    margin: (-$my-stack-space-y)  (-$my-stack-space-x);
    padding: $my-stack-space-y $my-stack-space-x;
}

.c-stack--center {
    text-align: center;
}

.c-stack--right {
    text-align: right;
}

.c-stack--size-small {
    > .c-stack__item {
        padding: ($my-stack-space-y / 2) ($my-stack-space-x / 1);
    }
    .c-stack__link {
        margin: (-$my-stack-space-y / 2)  (-$my-stack-space-x / 1);
        padding: ($my-stack-space-y / 2) ($my-stack-space-x / 1);
    }
}

.c-stack--size-large {
    > .c-stack__item {
        padding: ($my-stack-space-y * 2) ($my-stack-space-x * 1);
    }
    .c-stack__link {
        margin: (-$my-stack-space-y * 2)  (-$my-stack-space-x * 1);
        padding: ($my-stack-space-y * 2) ($my-stack-space-x * 1);
    }
}