/**
 * #Stack
 */
$stack-ns: null !default;
$stack-space-y: 1em !default;
$stack-space-x: 0.5em !default;

/**
 * 縦に積み重なる（stack up）シンプルなナビゲーションオブジェクトです。
 *
 * <ul class="c-stack [c-stack--size-small]">
 *     <li class="c-stack__item">
 *         <a href="#" class="c-stack__link">
 *            [content]
 *         </a>
 *     </li>
 *     <li class="c-stack__item">
 *          [content]
 *     </li>
 * </ul>
 */
.#{$stack-ns}c-stack {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$stack-ns}c-stack__item {
    padding: $stack-space-y $stack-space-x;
}

.#{$stack-ns}c-stack__link {
    display: block;
    margin: (-$stack-space-y)  (-$stack-space-x);
    padding: $stack-space-y $stack-space-x;
}

.#{$stack-ns}c-stack--center {
    text-align: center;
}

.#{$stack-ns}c-stack--right {
    text-align: right;
}

.#{$stack-ns}c-stack--size-small {
    > .#{$stack-ns}c-stack__item {
        padding: ($stack-space-y / 2) ($stack-space-x / 1);
    }
    .#{$stack-ns}c-stack__link {
        margin: (-$stack-space-y / 2)  (-$stack-space-x / 1);
        padding: ($stack-space-y / 2) ($stack-space-x / 1);
    }
}

.#{$stack-ns}c-stack--size-large {
    > .#{$stack-ns}c-stack__item {
        padding: ($stack-space-y * 2) ($stack-space-x * 1);
    }
    .#{$stack-ns}c-stack__link {
        margin: (-$stack-space-y * 2)  (-$stack-space-x * 1);
        padding: ($stack-space-y * 2) ($stack-space-x * 1);
    }
}