/**
 * #Wrapper
 */
$wrapper-padding: 1em !default;

/**
 * 横幅を制限するラッパーオブジェクトです。
 * デフォルトで左右のパディングが入ります。
 *
 * <div class="c-wrapper">
 *   <div class="c-grid">
 *     <div class="c-grid__item u-8/12@md"></div>
 *     <div class="c-grid__item u-4/12@md"></div>
 *   </div>
 * </div>
 */
.c-wrapper {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: $wrapper-padding;
    padding-left: $wrapper-padding;
}