/**
 * #Card
 */
$card-gap: 1em !default;
$card-padding-y: 2em !default;
$card-padding-x: 1em !default;
$card-border: 1px solid colors(ui, light) !default;
$card-round: $base-round !default;

/**
 * カード型のオブジェクトです。
 *
 * <div class="p-card">
 *   <img class="p-card__image-top">
 *   <div class="p-card__body">
 *     <h2 class="p-card__title"></h2>
 *     <p class="p-card__text"></p>
 *   </div>
 *   <ul class="p-card__list">
 *     <li class="p-card__item"></li>
 *     <li class="p-card__item"></li>
 *   </ul>
 *   <div class="p-card__foot">
 *     <p class="p-card__text"></p>
 *   </div>
 * </div>
 */
.p-card {
    margin-bottom: $card-gap;
    border: $card-border;
    border-radius: $card-round;
}

.p-card__body {
    padding: $card-padding-y $card-padding-x;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__head {
    padding: $card-padding-x;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__foot {
    padding: $card-padding-x;
    border-top: $card-border;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__head,
.p-card__image-top,
.p-card__item--top,
.p-card__link--top {
    @if $card-round != null {
        border-radius: $card-round $card-round 0 0;
    }
}

.p-card__foot,
.p-card__image-bottom,
.p-card__item--bottom,
.p-card__link--bottom {
    @if $card-round != null {
        border-radius: 0 0 $card-round $card-round;
    }
}

.p-card__title {
    margin-top: 0;
}

.p-card__text:last-child {
    margin-bottom: 0;
}

.p-card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-card__item {
    padding: $card-padding-x;
    border-top: $card-border;
}

.p-card__link {
    display: block;
    margin: -$card-padding-x;
    padding: $card-padding-x;
}