/**
 * #Card
 */
$cord-padding: 1em !default;
$cord-border: 1px solid colors(ui) !default;
$cord-round: $base-round !default;
$cord-round-head: $cord-round $cord-round 0 0 !default;
$cord-round-foot: 0 0 $cord-round $cord-round !default;

/**
 * カード型のオブジェクトです。
 *
 * <div class="p-card">
 *   <div class="p-card__head">
 *     <img>
 *   </div>
 *   <div class="p-card__body [p-card__body--has-divider]">
 *     <h2 class="p-card__title"></h2>
 *   </div>
 *   <div class="p-card__foot [p-card__foot--has-divider]">
 *   </div>
 * </div>
 */
.p-card {
    border: $cord-border;
    border-radius: $cord-round;
    background-color: #fff;
}

.p-card__head {
    overflow: hidden;
    border-radius: $cord-round-head;
}

.p-card__title {
    margin: 0;
    font-size: 1.25em;
}

.p-card__body {
    padding: ($cord-padding * 2) $cord-padding;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__body--has-divider {
    border-top: $cord-border;
}

.p-card__foot {
    overflow: hidden;
    padding: $cord-padding;
    border-radius: $cord-round-foot;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__foot--has-divider {
    border-top: $cord-border;
}