/**
 * #Card
 */
$cord-padding-y: 2em !default;
$cord-padding-x: 1em !default;
$cord-border: 1px solid colors(ui) !default;
$cord-round: $base-round !default;
$cord-round-head: $cord-round $cord-round 0 0 !default;
$cord-round-foot: 0 0 $cord-round $cord-round !default;

/**
 * カード型のオブジェクトです。
 *
 * <div class="p-card">
 *   <img class="p-card__image-top">
 *   <div class="p-card__body">
 *     <h2 class="p-card__title"></h2>
 *     <p class="p-card__text"></p>
 *   </div>
 *   <ul class="p-card__list">
 *     <li class="p-card__item"></li>
 *     <li class="p-card__item"></li>
 *   </ul>
 *   <div class="p-card__foot">
 *     <p class="p-card__text"></p>
 *   </div>
 * </div>
 */
.p-card {
    border: $cord-border;
    border-radius: $cord-round;
}

.p-card__body {
    padding: $cord-padding-y $cord-padding-x;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__head {
    padding: $cord-padding-x;
    border-bottom: $cord-border;
    border-radius: $cord-round-head;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__foot {
    padding: $cord-padding-x;
    border-top: $cord-border;
    border-radius: $cord-round-foot;
    > :last-child {
        margin-bottom: 0;
    }
}

.p-card__image-top {
    border-radius: $cord-round-head;
}

.p-card__image-bottom {
    border-radius: $cord-round-foot;
}

.p-card__title,
.p-card__text {
    margin-top: 0;
}

.p-card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.p-card__item {
    padding: $cord-padding-x;
    border-top: $cord-border;
}

.p-card__link {
    display: block;
    margin: -$cord-padding-x;
    padding: $cord-padding-x;
}