/**
 * #Icon
 */
$icon-ns: null !default;

/**
 * テキストリンクに使用するアローアイコンです。`>`が指定されています。
 * `>>`と`<<`は`\00BB`と`\00AB`を指定します。
 *
 * <ul class="o-stack">
 *   <li class="o-stack__item">
 *       <a href="#" class="o-stack__link p-icon--arrow-right"></a>
 *   </li>
 *   <li class="o-stack__item">
 *       <a href="#" class="o-stack__link p-icon--arrow-right"></a>
 *   </li>
 * </ul>
 */
.#{$icon-ns}icon--arrow-right {
    position: relative;
    &:after {
        content: "\00A0" "\003E";
    }
}

.#{$icon-ns}icon--arrow-left {
    position: relative;
    &:before {
        content: "\003E" "\00A0";
    }
}