/**
 * #Pagenation
 */
$pagination-ns: null !default;
$pagination-padding-y: 1em !default;
$pagination-padding-x: 1em !default;
$pagination-border: 1px solid $base-ui-color !default;
$pagination-border-width: 1px !default;

/**
 * ページネーションのコンポーネントです。
 * モディファイアを指定するとボーダーで囲われます。
 *
 * <ol class="p-pagination [p-pagination--has-border]">
 *   <li class="p-pagination__item">
 *     <a href="#" class="p-pagination__link p-pagination__link--prev">Prev</a>
 *   </li>
 *   <li class="p-pagination__item">
 *     <a href="#" class="p-pagination__link">1</a>
 *   </li>
 *   <li class="p-pagination__item">
 *     <a href="#" class="p-pagination__link">2</a>
 *   </li>
 *   <li class="p-pagination__item">
 *     <a href="#" class="p-pagination__link">3</a>
 *   </li>
 *   <li class="p-pagination__item">
 *     <a href="#" class="p-pagination__link p-pagination__link--next">Next</a>
 *   </li>
 * </ol>
 */
.#{$pagination-ns}p-pagination {
    padding-left: 0;
    font-size: 0;
    line-height: 1;
    text-align: center;
}

.#{$pagination-ns}p-pagination__item {
    display: inline-block;
    font-size: 1rem;
}

.#{$pagination-ns}p-pagination__link {
    display: inline-block;
    padding: $pagination-padding-y $pagination-padding-x;
}

.#{$pagination-ns}p-pagination__link--prev:before {
    content: "\003C" "\00A0";
}

.#{$pagination-ns}p-pagination__link--next:after {
    content: "\00A0" "\003E";
}

.#{$pagination-ns}p-pagination--has-border {
    > .#{$pagination-ns}p-pagination__item {
        border: $pagination-border;
        border-right-width: 0;
        border-radius: $base-round;
        &:last-child {
            border-right-width: $pagination-border-width;
        }
    }
}