/**
 * #Tag-cloud
 */
$tag-cloud-space: 0.5em !default;

/**
 * タグクラウドのコンポーネントです。
 * `list-inline`オブジェクトと組み合わせてマークアップします。
 *
 * <ul class="c-list-inline p-tag-cloud">
 *   <li class="c-list-inline__item p-tag-cloud__item">
 *     <a href="" class="c-list-inline__link p-tag-cloud__link">CSS<span class="p-tag-cloud__count">(20)</span></a>
 *   </li>
 *   <li class="c-list-inline__item p-tag-cloud__item">
 *     <a href="" class="c-list-inline__link p-tag-cloud__link">HTML<span class="p-tag-cloud__count">(100)</span></a>
 *   </li>
 * </ul>
 */
.p-tag-cloud {
    @include font-size($small-font-sizes);
}

.p-tag-cloud__item {
    margin-bottom: $tag-cloud-space;
}

.p-tag-cloud__link {
    padding: $tag-cloud-space ($tag-cloud-space * 2);
    border: 1px solid colors(ui);
    border-radius: $base-round;
    color: inherit;
    line-height: 1;
    text-decoration: none;
    transition-duration: $base-transition-duration;
    &:hover {
        color: #fff;
        background-color: colors(link);
    }
}

/**
 * 投稿数用のラベルです。
 * タグ名との間に半角スペースが入ります。
 */
.p-tag-cloud__count {
    font-size: ($tag-cloud-space * 1.5);
    &:before {
        content: "\00A0";
    }
}