//
// #Colors
//

// @desc - プロジェクトを通して使用される色を管理するためのマップです。
// @type {Map}
// @prop {String} keys - keyは呼び出す時のキーワードになります。
// @prop {String} values - 呼び出されるカラー（hexやRGBなど）です。
// @see {Function} my-colors - マップに定義したvalueを返す関数です。
$my-colors: (
    text: (
        base: #333,
        light: #666,
        dark: #000,
    ),
    link: (
        base: #2b70ba,
        visited: null,
        hover: lighten(#2b70ba, 15%),
    ),
    ui: (
        base: #aaa,
        light: lighten(#aaa, 15%),
        dark: darken(#aaa, 15%),
    ),
    bg: (
        base: #fff,
        light: lighten(#fff, 5%),
        dark: darken(#fff, 10%),
    ),
) !default;