//
// #Global
//

// @prop {String} keys - keyは呼び出す時のキーワードになります。
// @prop {String} values - 呼び出されるメディアタイプやキーワードです。
// @see {Mixin} media-query - @include media-query() で使用されています。
$breakpoints: (
    'sm': 'screen and (min-width: 400px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 1000px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;


// ベースになる色を管理します。
$base-font-color: #333 !default;
$heading-font-color: null !default;
$base-background-color: #fff !default;
$base-link-color: #2b70ba !default;
$visited-link-color: null !default;
$hover-link-color: lighten($base-link-color, 15%) !default;
// UIのベースカラー
$base-ui-color: #ddd;

// `a`のtext-decorationを管理します。
$base-link-decoration: none !default;
$hover-link-decoration: underline !default;


// `font-family`を管理します。
$base-font-family: "Helvetica Neue", "Helvetica", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !default;
$heading-font-family: null !default;
$monospace-font-family: Courier, "Courier New", monospace !default;


// `font-weight`を管理します。
$base-font-weight: 400 !default;
$heading-font-weight: 600 !default;


// `ul`, `dl`, `blockquote`などのインデントに使用します。
$indent-base: 1rem !default;
$indent-large: 2rem !default;


// ボタンコンポーネントなどの角丸に使用します。
$base-round: 3px;


// アニメーションのベースになる速度です。
$base-transition-duration: 0.3s;